<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Pablo C. Pinheiro{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>
<body>
  <nav>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pablo C. Pinheiro</a>
        <p class="navbar-brand">(61) 981318837</p>
        <p class="navbar-brand">pablo.pinheiro@gmail.com</p>
    </div>
</nav>

<main >
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2025 Pablo | Desenvolvedor Python</p>
</footer>

</body>
</html>